:root {
  --cb-main: #fff;
  --c-main: #2e2f42;
  --c-main-second: #434455;
  --c-logo: #4d5ae5;
  --c-header-border: #e7e9fc;
  --c-hover-menu: #404bbf;
  --cb-hero: #2e2f42;
  --cb-hero-button: #4d5ae5;
  --cb-hero-button-hover: #404bbf;
  --c-hero: #fff;
  --cb-team: #f4f4fd;
  --c-portfolio-border: #e7e9fc;
  --c-footer-logo: #f4f4fd;
  --c-footer-text: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-main);
  background-color: var(--cb-main);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Header */
.header {
  padding-bottom: 1px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header-nav {
  display: flex;
  align-items: center;
  /*flex-grow: 1;*/
  gap: 24px;
}
.header-address {
  display: flex;
  gap: 40px;
}

/* Logo */
.header-nav-logo {
  display: flex;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-logo);
  margin-right: 76px;
}

/*  Navbar menu */
.header-nav .logo-right-top {
  color: var(--c-main);
}
.nav-list {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  justify-content: center;
}

.nav-link {
  display: inline-block;

  padding: 24px 0;
  color: var(--c-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  padding-bottom: 0;
  border-radius: 2px;
  border-bottom: 4px solid var(--c-hover-menu);
  color: var(--c-hover-menu);
}

/*  Address  */
.header-address {
  display: flex;
  padding: 24px 0;
}

.header-address-list {
  display: flex;
  gap: 40px;
  padding: 0;
}

.header-address-link {
  padding: 24px 0;
  gap: 40px;
  color: var(--c-main-second);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--c-hover-menu);
}
/* Header END */

/* Hero section */
.hero-section {
  padding-bottom: 120px;
}
.hero-inner {
  padding: 188px 0;
  background-color: var(--cb-hero);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  color: var(--c-hero);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}
.hero-button {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--c-hero);
  background-color: var(--cb-hero-button);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-top: 48px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--cb-hero-button-hover);
}
/* End Hero */
